@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Rubik+Dirt&family=Rubik+Moonrocks&display=swap');


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url(./assets/background_2.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
  

  h1 {
    font-family: 'Rubik Dirt', cursive;
    font-weight: 200;
    background-color: rgb(195, 100, 227, 0.3);
    color: #d90d98;
    font-size: 30px;
    padding: none;
    border: none;
    /* position: fixed;
    left: 45%; top: 0px; */
  } 

#won {
  font-size: 100px;
  font-weight: 400;
  font-family: 'Poiret One','Courier New', Courier, monospace;
  color: rgba(195, 100, 227, 0.7);
  position: absolute;
  left: 17%;
}

#lose {
  font-size: 80px;
  font-weight:200 ;
  font-family: 'Rubik Dirt', cursive;
  color: rgba(139, 86, 139, 0.9);
  position: absolute;
  left: 30%;
}

#total-value {
  /* color: #d90d98; */
  position: absolute;
  bottom: 62px; right: 30vh;

  background: -webkit-linear-gradient(top, #FF3366  , #b77ec0);
  background: -moz-linear-gradient(top, #5643c4, #f29eff);
  padding: 11px 75px;
  border-radius: 20px;
  color: white;
  font-size: 30px;
  font-family: 'Poiret One','Lucida Grande', Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  
}
#lives {

  background: -webkit-linear-gradient(top, #5643c4, #f29eff);
  background: -moz-linear-gradient(top, #5643c4, #f29eff);
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  font-size: 30px;
  font-family: 'Poiret One','Lucida Grande', Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  
    
  position: absolute;
  bottom: 62px; left: 30vh;


}

#btn {
  /* border-top: 1px solid #ffffff;
  background: #f29eff;
  background: -webkit-gradient(linear, left top, left bottom, from(#5643c4), to(#f29eff));
  background: -webkit-linear-gradient(top, #5643c4, #f29eff);
  background: -moz-linear-gradient(top, #5643c4, #f29eff);
  background: -ms-linear-gradient(top, #5643c4, #f29eff);
  background: -o-linear-gradient(top, #5643c4, #f29eff);
  padding: 11px 22px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 20px;
  color: white; */
  font-size: 24px;
  font-family: 'Poiret One','Lucida Grande', Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  position: sticky;
  /* bottom: 50px; */
}
  #btn:hover {
    border-top-color: #d90d98;
    background: #FF3366 ;
    color: #fcfcfc;
    padding: 11px 22px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 20px;
   font-family: 'Poiret One','Lucida Grande', Helvetica, Arial, Sans-Serif;
   font-size: 24px;
  
  }
  